<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Screen 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-grid style="text-align: center;">
      <img width="80" height="80" src="assets/addphoto.png">
    </ion-grid>
    <br>
      <ion-card-subtitle class="ion-text-center">Nama Anda</ion-card-subtitle>
      <ion-card>
        <br>
      <ion-card-title class="ion-text-center">Nama Anda</ion-card-title>
      <br>
    </ion-card>
    </ion-card-header>

    <ion-card-content>
        <ion-grid style="text-align: center;" class="ion-align-items-center">
          <ion-button color="primary">Pilih Event</ion-button>
          <br>
          <ion-button color="primary">Pilih Guest</ion-button>
        </ion-grid>
        </ion-card-content>
      </ion-card>
        <ion-card>
          <br>
        <ion-card-subtitle class="ion-text-center">Event yang dipilih</ion-card-subtitle>
        <ion-card>
          <br>
        <ion-card-title class="ion-text-center">Event yang dipilih</ion-card-title>
        <br>
      </ion-card>
      <br>
        <ion-card-subtitle class="ion-text-center">Guest yang dipilih</ion-card-subtitle>
        <ion-card>
          <br>
        <ion-card-title class="ion-text-center">Guest yang dipilih</ion-card-title>
        <br>
      </ion-card>
    </ion-card>
</ion-content>
