<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-circle-outline">
        </ion-icon>
      </ion-button>
            </ion-buttons>
    <ion-title>screen 3</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
  <ion-card>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/1.png">
    </ion-thumbnail>
    <ion-label>
      <h2>Concert A</h2>
      <p>31 Juli 2021</p>
    </ion-label>
    <ion-card>
    <ion-button (click)="event()" color="primary">Pilih Event</ion-button>
  </ion-card>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/2.png">
    </ion-thumbnail>
    <ion-label>
      <h2>Concert B</h2>
      <p>10 Agustus 2021</p>
    </ion-label>
    <ion-card>
    <ion-button (click)="event()" color="primary">Pilih Event</ion-button>
  </ion-card>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/3.png">
    </ion-thumbnail>
    <ion-label>
      <h2>Concert C</h2>
      <p>20 Agustus 2021</p>
    </ion-label>
    <ion-card>
    <ion-button (click)="event()" color="primary">Pilih Event</ion-button>
  </ion-card>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/4.png">
    </ion-thumbnail>
    <ion-label>
    <h2>Concert D</h2>
    <p>31 Agustus 2021</p>
  </ion-label>
  <ion-card>
  <ion-button (click)="event()" color="primary">Pilih Event</ion-button>
</ion-card>
  </ion-item>
  <ion-card-title class="ion-text-center">{{nama}}</ion-card-title>
</ion-card>
</ion-card>
</ion-content>
