<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Screen 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-grid style="text-align: center;">
      <img width="120" height="100" src="assets/Suitmedialogo.png">
    </ion-grid>
    <br>
      <ion-card-subtitle class="ion-text-center">Masukan Nama</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card>
        <label for="item-input"></label>
        <ion-input [(ngModel)]="nama" type="text" id="item-input " #newitem placeholder="nama"></ion-input></ion-card>
        <br>
        <ion-grid style="text-align: center;" class="ion-align-items-center">
          <ion-button (click)="next()" color="primary">Next</ion-button>
        </ion-grid>
        </ion-card-content>
  </ion-card>
</ion-content>
